<meta property="og:type" content="{% include ogp/type.html %}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:description" content="{% include ogp/desc.html %}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:title" content="{% include ogp/title.html %}" />
<meta property="og:image" content="{% include ogp/image.html %}" />
<meta property="article:published_time" content="{% include ogp/date.html %}" />
<meta property="article:author" content="http://www.facebook.com/{{ site.author.facebook }}" />
